
<!DOCTYPE html>
<html>
<head>
  <title>jessieposca</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/css/materialize.css">
<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/stylesheets/js/materialize.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/mojs/0.265.6/mo.min.js"></script>
<script type="text/javascript" src="/javascripts/paper-core.min.js"></script>
<script type="text/javascript" src="/javascripts/paper-full.min.js"></script>
</head>
<body>

  <nav>
    <div class="nav-wrapper #757575 grey darken-1">
      <a href="#!" class="brand-logo center"> Mon logo zbléé</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="sass.html">I</a></li>
        <li><a href="badges.html">II</a></li>
        <li class="active"><a href="collapsible.html">III</a></li>
      </ul>
    </div>
  </nav>

<div class="main">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/profil.jpg">
    </div>
    <div class="card-content"> 
      <span class="card-title activator grey-text text-darken-4">Jessie Posca<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/jessieln" target="_blank">GitHub</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> Profil <i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>

  </div>


</div>
<div class="main1">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/une.jpg">
    </div>
    <div class="card-content"> 
      <span class="card-title activator grey-text text-darken-4"> Projets <i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/jessieln" target="_blank">GitHub</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> Profil <i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>

  </div>
 

</div>
<div class="main2">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/six.jpg">
    </div>
    <div class="card-content"> 
      <span class="card-title activator grey-text text-darken-4"> Langages <i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/jessieln" target="_blank">GitHub</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> Profil <i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>

  </div>
 
<script type="text/javascript" scr="javascripts/anim.js"></script>
</div>
<div class="main3">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/cinq.jpg">
    </div>
    <div class="card-content"> 
      <span class="card-title activator grey-text text-darken-4"> Contact <i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/jessieln" target="_blank">GitHub</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"> Profil <i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>

  </div>
 

</div>


</body>

</html>